<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.2.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Fody" version="3.3.2" targetFramework="net472" developmentDependency="true" />
  <package id="LinqKit" version="1.1.9.0" targetFramework="net461" />
</packages>